.bpf .form-alert {
    border-radius: 4px;
    background-color: #eee;
    color: #555;
    padding: 12px;
}

.bpf .form-alert p {
    line-height: 1.8;
    margin: 0;
}

.bpf .form-alert.positive {
    background-color: #cef5d0;
    color: #499c4d;
}

.bpf .form-alert.positive p {
    color: #499c4d;
}

.bpf .form-alert.negative {
    background-color: #e4cfcf;
    color: #d14b4b;
}

.bpf .form-alert.negative p {
    color: #d14b4b;
}

.bpf .form-alert.warning {
    background-color: #f7f5d8;
    color: #d1c90d;
}

.bpf .form-alert.warning p {
    color: #d1c90d;
}

.bpf .field-name-how {
    position: absolute;
    top: 0;
    left: -90999px;
}

.bpf p.form-error {
    color: #d14b4b;
    margin: 0;
    font-size: 14px;
    text-align: left;
}

.bpf input,
.bpf textarea,
.bpf select {
    transition: border-color .5s;
}

.bpf input.is-invalid,
.bpf textarea.is-invalid,
.bpf select.is-invalid {
    border-color: #d14b4b;
}

.bpf button[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: .4;
}

.bpf .field-marker {
    color: rgb(154, 159, 162);
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    margin-left: 5px;
    text-transform: uppercase;
}

.bpf .field-description {
    color: #a4a4a8;
    font-size: .9em;
}

.bpf .field-group > .field-group-items {
    display: grid;
    grid-column-gap: 24px;
}

.bpf .field-group--no-grid > .field-group-items {
    display: block;
}

@media (min-width: 640px) {
    .bpf .field-group.--has-2-fields > .field-group-items {
        grid-template-columns: repeat( 2, 1fr );
    }

    .bpf .field-group.--has-3-fields > .field-group-items {
        grid-template-columns: repeat( 3, 1fr );
    }

    .bpf .field-group.--has-4-fields > .field-group-items {
        grid-template-columns: repeat( 4, 1fr );
    }
}